{{ ansible_managed | comment }}

Port {{ sshd_port }}
PubkeyAuthentication yes
PermitRootLogin {{ sshd_permit_root_login }}
PasswordAuthentication {{ 'yes' if sshd_password_authentication | bool else 'no' }}
